/* Write your CSS here */

.teamLogo7 {
  height: 60px;
}

.recentMatchBox {
  color: white;
  background-color: black;
  border-radius: 15px;
  text-align: center;
  padding: 15px;
  margin: 10px;
  height: 250px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
